<% layout('boilerplate') -%> 
<%- partial("alert") -%> 
<!-- Not Finish -->

<!-- job -->
<!-- <div class="container mb-2">
  <div class="row bg-dark text-white py-2">
    <div class="col-sm-4 text-center">
      <b>POSITION </b>
    </div>
    <div class="col-sm-4 text-end">
      <i>CREATEAT</i>
    </div>
  </div>
  <div class="row bg-secondary text-white py-2">
    <div class="col-sm-8">
      <b>FIRSTNAME</b>
    </div>
  </div>
</div> -->

<a href="http://res.cloudinary.com/pesolcloud/image/upload/v1631337753/resume/transcript_tdtyiy.jpg" target="_blank" alt="resume">resume</a>